/* CABEÇALHO */
header {
    width: 100%;
    background-color: #17251c;
    color: white;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* NOME DO SITE */
header h1 {
    color: #2E7D32;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
}

/* MENU */
header nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* LINKS */
header nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0;
    position: relative;
    transition: color 0.3s ease;
}

/* EFEITO AO PASSAR O MOUSE */
header nav a:hover {
    color: #39e66b;
}

/* LINHA ANIMADA */
header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #39e66b;
    transition: width 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    header h1 {
        font-size: 23px;
        text-align: center;
    }

    header nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px 20px;
    }

    header nav a {
        font-size: 14px;
    }
}
.logo{
    height: 100px;
}