<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon"
        type="image/x-icon"
        href="{{ url_for('static', filename='icons/icone.ico') }}">
</head>

<body>
    
    {% include 'header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Diretos Reservados</p>
    </footer>

</body>

</html>